profiles {
    standard {
        process.executor = 'local'
        process.container = 'rocker/tidyverse:4.3.1'
    }

    awsbatch {
        process.executor = 'awsbatch'
        process.container = 'rocker/tidyverse:4.3.1'
        aws.region = 'eu-west-2'
        aws.batch.queue = 'your-aws-batch-queue'
        workDir = 's3://poopie-data/scratch'
    }
}

process {
    errorStrategy = 'terminate'
    maxRetries = 1
    cpus = 4
    memory = '8 GB'
    time = '6h'
}
